<% @posts.each do |post| %>
  <p> <%= post.user.email %> </p>
  <li><%= post.body %></li>
  <p> <%= button_to "delete post", post, method: :delete %> </p>
  <p> <%= button_to "like", controller: "likes", action: "create", post_id: post.id, user_id: current_user.id, like: true%> </p>
<% end %>
